{{ partial "content-header.html" . }}

<div class="container container-90">
  <div class="row">
    {{ range first 1 (where .Site.RegularPages "Type" "in" "message") }}
      <div class="message message-details">
        <h3>Latest Message</h3>
        {{ .Render "list" }}
      </div>
    {{ end }}
  </div>

<!--  <div class="row">
     {{ partial "podcast-links.html" . }}
  </div> -->

  <div class="row series-list">
    {{ range .Sections.ByDate.Reverse }}
      <div class="col-sm-12 col-md-4">
        {{ .Render "single" }}
      </div>
    {{ end }}
  </div>
</div>

{{ partial "content-footer.html" . }}

