<div class="series">
  <a href="{{ .RelPermalink }}">
  {{ $imageCdn := $.Site.Params.imageCDN }}
  {{ if .Params.header }}
    <img class="series-image lozad" data-src="{{ $imageCdn }}messages/{{ .Params.header }}" alt="Series Header"/>
  {{ else }}
    {{ $image := "contact.jpg" }}
    <div class="series-placeholder">
      <img class="series-image lozad" data-src="{{ $imageCdn }}{{ $image }}" alt="Contact Image"/>
      <div class="series-title">
        {{ .Page.Title }}
      </div>
    </div>
  {{ end }}
  </a>
</div>
