<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{ partial "common-head.html" . }}
</head>
<body>

{{ partial "menu.html" . }}

<div class="header">
  {{ $imageCdn := .Site.Params.imageCDN }}
  {{ if .Params.header }}
    <img class="desktop-image" src="{{ $imageCdn }}{{ replace .File.Dir "\\" "/" }}{{ .Params.header }}" />
    <div class="mobile-image" style="background-image: url('{{ $imageCdn }}{{ replace .File.Dir "\\" "/" }}{{ .Params.header }}')"></div>
  {{ else }}
    <div class="generic-header"></div>
  {{ end }}
  <div class="header-content">
    <div>
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid detail-container">

