{{ $imageCdn := .Site.Params.imageCDN }}
<div style="width: 100%; margin:0 auto; text-align:center;">
<img src="{{ $imageCdn }}social-mail-on.png"  />
<img src="{{ $imageCdn }}social-facebook-on.png"  />
<img src="{{ $imageCdn }}social-instagram-on.png"  />
<img src="{{ $imageCdn }}social-twitter-on.png"  />
<a class="social social-mail" href="mailto:info@thecalvarytemple.org"></a>
<a class="social social-facebook" href="https://www.facebook.com/calvarytemplestcharles/"></a>
<a class="social social-instagram" href="https://www.instagram.com/thecalvarytemple/"></a>
<a class="social social-twitter" href="https://twitter.com/calvtemple"></a>

<div class="copyright">
  Copyright &copy; {{ now.Format "2006" }} Calvary Temple. 
</div>
</div>