{{ partial "content-header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 text-center">
      {{ .Content }}
      <br />
    </div>
  </div>

  {{ $imageCdn := .Site.Params.imageCDN }}
  {{ $pages := .Data.Pages.ByWeight }}
  {{ range $i, $p := $pages }}
    {{ if eq (mod $i 2) 0 }}
      <div class="row">
    {{ end }}
        <div class="col-sm-12 col-md-6 gallery">
          <h2>{{ .Title }}</h2>
          {{ range .Resources.Match "photo" }}
            <img src="{{ $imageCdn }}boys/{{ .Params.photo }}" style="max-width: 100%; float: right; margin-left: 15px; margin-bottom: 10px;" />
          {{ end }}
          <p>{{ .Content }}</p>
        </div>
    {{ if eq (mod $i 2) 1 }}
      </div>
    {{ end }}
  {{ end }}

  {{ if eq (mod (len $pages) 2) 1 }}
    </div>
  {{ end }}

  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 text-center">
      <br />
      <p style="margin-bottom: 0px;">If you'd like more information about Royal Rangers, email <a href="mailto:info@thecalvarytemple.org">info@thecalvarytemple.org</a>.</p>
    </div>
  </div>
</div>

{{ partial "content-footer.html" . }}
