{{ partial "content-header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      {{ .Content }}
    </div>
  </div>

  <div class="row">
    {{ range $i, $p := .Data.Pages }}
      <div class="col-sm-6 col-md-6 gallery">
        <h2>{{ .Title }}</h2>
        {{ range .Resources.Match "photo" }}
          <img src="{{ .RelPermalink }}" style="max-width: 100%; margin-bottom: 20px;" />
        {{ end }}
        <p>{{ .Content }}</p>
      </div>
    {{ end }}
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p style="margin-bottom: 0px;">If you'd like more information about Royal Rangers, email <a href="mailto:info@thecalvarytemple.org">info@thecalvarytemple.org</a>.</p>
    </div>
  </div>
</div>

{{ partial "content-footer.html" . }}
