{{ partial "content-header.html" . }}

<!-- Section (_index.md) content always shown at top -->
<div class="container mx-auto mb-8">
  {{ with .Site.GetPage "section" "readings" }}
    {{ .Content }}
    <h2 style="display: grid; place-items: center;">Please select a month from the list below</h2>
  {{ end }}
</div>

<div class="container mx-auto">
  <!-- Month buttons -->
  <div class="row">
    {{ $currentPage := . }}
    {{ range .Pages.ByWeight }}
      <div class="col-sm-6 col-md-3 mb-4">
        <a href="{{ .RelPermalink }}" class="btn btn-primary btn-oval{{ if eq .RelPermalink $currentPage.RelPermalink }} active{{ end }}">
          {{ .Title }}
        </a>
      </div>
    {{ end }}
  </div>
</div>

{{ partial "content-footer.html" . }}
